/**
  * Global
  */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  min-height: 0;
  height: 100%;
}

a {
  color: #72afd2;
  text-decoration: none;
}
a:hover,a:focus   {
  color: #2E2E2E;
  text-decoration: underline;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

ul {
  padding-left: 20px;;
}

li {
  list-style-type: none;
}

li::before {
  content: '# ';
  color: rgb(63,81,181);
}

img {
  max-width: 100%
}

/**
  * nav
  */

#right-nav a{
  height: 64px;
}

#left-nav a{
  height: auto;
}

.mdl-mini-footer__left-section{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/**
  * article
  */

article {
  padding: 20px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

/**
  * footer
  */

.footer_logo span{
  font-size: 20px;
  padding-right: 5px;
}

.footer_logo small{
  color: gray;
  display: inline-block;
}

.footer_logo{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.footer_logo_contact a:hover,
.footer_logo_contact  a:focus {
  color: #fdfdfd;
  text-decoration: underline;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

@media screen and (min-width: 1024px){
  .mdl-layout__drawer-button {
    display: none;
  }
  .mdl-mini-footer__left-section {
    padding-left: 80px;
  }
  article {
    padding: 40px;
  }
}