/**
  * Global
  */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  min-height: 0;
  height: 100%;
}

a {
  color: #72afd2;
  text-decoration: none;
}
a:hover,a:focus   {
  color: #2E2E2E;
  text-decoration: underline;
}

img {
  max-width: 100%
}

/**
  * nav
  */

#right-nav a{
  height: 64px;
}

#left-nav a{
  height: auto;
}

.mdl-mini-footer__left-section{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/**
  * article
  */

article {
  padding: 40px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

/**
  * footer
  */

.footer_logo span{
  font-size: 20px;
  padding-right: 5px;
}

.footer_logo small{
  color: gray;
  display: inline-block;
}

.footer_logo{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.footer_logo_contact a:hover,
.footer_logo_contact  a:focus {
  color: #fdfdfd;
  text-decoration: underline;
}

.footer_links ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0 10%
}

.footer_links li{
  line-height: 24px;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

.footer_explain {
  max-width: 30%;
}

@media screen and (min-width: 1024px){
  .mdl-layout__drawer-button {
    display: none;
  }

  .footer_explain {
    margin-left: 4%;
  }
  
  .mdl-mini-footer__left-section {
    padding-left: 80px;
  }
}